basePath: /
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: Gabriel
    url: http://www.swagger.io/support
  description: API para o sistema de Biblioteca Digital.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Biblioteca Digital API
  version: 1.3.0
paths: {}
securityDefinitions:
  Bearer:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
